#heading {
  color: yellowgreen;
}
.navbar-edit {
  padding: 10px;
}
.body {
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card1 {
  margin: 1%;
}
.badge {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  margin-top: 10px;
}
.card-text{
    padding-bottom: 3rem;
}
.search{
    margin-top: 50px;
    margin-left: 1%;
    width: 250px;
    border-radius: 5px;
}
.cost{

  margin-right: 1rem;
  position: absolute;
  right: 0;
}
.time{
  margin-left: 2.7rem;
}
.loading{
  margin-top: 200px;
}
.nores{
  margin-top: 200px;
}
.header-btn{
  margin-left: 500px;
}
.row-res{
  margin-top: 5rem;  
  margin-left: 2rem;
  margin-right: 2rem;
}
.card-text{
  padding-bottom: 0%;
}
.badgge{
  margin-left: 72%;
}
.btn-success{
  margin-top: 3%;  
  margin-left: 3%;
  margin-right: 3%;
  width: 93%;
}
.bg-dark{
  background-color: black;
}